body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    width:100%;
    margin:0;
    color:#333;
}

a,a:hover,
a:visited,
a:link {
    text-decoration:none;
    color:#5a5555;
}
a:hover {
    text-decoration:underline;
}

.wrapper {
    max-width:840px;
    margin:0 auto;
    padding-left:30px;
    padding-right:30px;
}

/* start header */
.site-header {
    width:100%;
    background-color:#5a5555;
    color:#cacdd4;
    position:fixed;
    top:0;
    left:0;
}
.site-nav a,
.site-title {
    line-height:40px;
}

.site-nav {
    display:inline-block;
    float:right;
}

.site-nav a:hover {
    text-decoration:underline;
}

.site-header a {
    display:inline-block;
    color:#cacdd4;
    text-decoration:none;
    margin-right:20px;
}

.site-title {
    font-size:26px;
    font-weight:300;
}
/* end header */

.category-nav {
    float:left;
    padding:20px 0 0 0;
}

.category {
    margin:0;
    padding:0;
    text-align:right;
}
.category-item {
    padding:1px 3px;
    line-height:26px;
    vertical-align:middle;
    text-align:right;
    list-style:none;
}

.category-item a {
    padding:3px 20px;
    color:gray;
    font-size:13px;
}

.category-item a:hover {
    padding-right:19px;
    border-right:1px solid #3a3a3a;
    color:#3a3a3a;
}

.category .active a {
    font-weight:700;
    padding-right:18px;
    text-decoration:underline;
    border-right:2px solid #3a3a3a;
    color:#3a3a3a;
}

.page-content {
    width:840px;
    margin:auto;
    margin-top:60px;
}

.dinner {
    padding:0 30px;
    margin:0 0 0 120px;
}
.dinner ul {
    margin:50px;
    padding:30px;
    padding-right:100px;
}
.dinner ul li {
    list-style:none;
    padding:8px 0;
}
.dinner ul li span:after {
    content:"";
    padding:0px 5px;
    margin-right:10px;
    border-right:1px solid black;
}
.dinner ul li a {
    padding:5px 0;
}

#category_name {
    display:none;
}
#tag_name {
    display:none;
}
