body {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    width:100%;
    margin:0;
    color:#333;
    font-size:12px;
}

a,a:hover,
a:visited,
a:link {
    text-decoration:none;
    color:#5a5555;
}
a:hover {
    text-decoration:underline;
}

.wrapper {
    max-width:840px;
    margin:0 auto;
    padding-left:30px;
    padding-right:30px;
}

/* start header */
.site-header {
    width:100%;
    background-color:#5a5555;
    color:#cacdd4;
    position:fixed;
    top:0;
    left:0;
}
.site-nav a,
.site-title {
    line-height:40px;
}

.site-nav {
    display:inline-block;
    float:right;
}

.site-nav a:hover {
    text-decoration:underline;
}

.site-header a {
    display:inline-block;
    color:#cacdd4;
    text-decoration:none;
    margin-right:20px;
}

.site-title {
    font-size:26px;
    font-weight:300;
}
/* end header */

.category-nav {
    float:left;
    padding:20px 0 0 0;
}

.category {
    margin:0;
    padding:0;
    text-align:right;
}
.category-item {
    padding:1px 3px;
    line-height:26px;
    vertical-align:middle;
    text-align:right;
    list-style:none;
}

.category-item a {
    padding:3px 20px;
    color:gray;
    font-size:13px;
}

.category-item a:hover {
    padding-right:19px;
    border-right:1px solid #3a3a3a;
    color:#3a3a3a;
}

.category .active a {
    font-weight:700;
    padding-right:18px;
    text-decoration:underline;
    border-right:2px solid #3a3a3a;
    color:#3a3a3a;
}

.page-content {
    width:840px;
    margin:auto;
    margin-top:60px;
}

.dinner {
    padding:30px;
    margin:50px 0 0 160px;
}
.dinner ul {
    margin:0;
    padding:0;
}
.dinner .list ul li {
    list-style:none;
    padding:8px 0;
}
.dinner ul li span:after {
    content:"";
    padding:0px 5px;
    margin-right:10px;
    border-right:1px solid black;
}
.dinner ul li a {
    padding:5px 0;
}

#category_name {
    display:none;
}
#tag_name {
    display:none;
}


h1,h2,h3,h4,h5,h6,p,blockquote {    margin: 0;    padding: 0;}body {    font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", Arial, sans-serif;    font-size: 13px;    line-height: 18px;    color: #737373;    margin: 10px 13px 10px 13px;}a {    color: #0069d6;}a:hover {    color: #0050a3;    text-decoration: none;}a img {    border: none;}p {    margin-bottom: 9px;}h1,h2,h3,h4,h5,h6 {    color: #404040;    line-height: 36px;}h1 {    margin-bottom: 18px;    font-size: 30px;}h2 {    font-size: 24px;}h3 {    font-size: 18px;}h4 {    font-size: 16px;}h5 {    font-size: 14px;}h6 {    font-size: 13px;}hr {    margin: 0 0 19px;    border: 0;    border-bottom: 1px solid #ccc;}blockquote {    padding: 13px 13px 21px 15px;    margin-bottom: 18px;    font-family:georgia,serif;    font-style: italic;}blockquote:before {    content:"C";    font-size:40px;    margin-left:-10px;    font-family:georgia,serif;    color:#eee;}blockquote p {    font-size: 14px;    font-weight: 300;    line-height: 18px;    margin-bottom: 0;    font-style: italic;}code, pre {    font-family: Monaco, Andale Mono, Courier New, monospace;}code {    background-color: #fee9cc;    color: rgba(0, 0, 0, 0.75);    padding: 1px 3px;    font-size: 12px;    -webkit-border-radius: 3px;    -moz-border-radius: 3px;    border-radius: 3px;}pre {    display: block;    padding: 14px;    margin: 0 0 18px;    line-height: 16px;    font-size: 11px;    border: 1px solid #d9d9d9;    white-space: pre-wrap;    word-wrap: break-word;}pre code {    background-color: #fff;    color:#737373;    font-size: 11px;    padding: 0;}@media screen and (min-width: 768px) {    body {        width: 748px;        margin:10px auto;    }}
