---
layout: zc
title: list 
---

<ul class="list">
    <li><span>2015-09-09</span><a href="#">abc</a></li>
</ul>

<script>
var baseurl = '{{ site.baseurl }}';
var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }',
    data = JSON.parse(dataStr),
    curTag = $.query.get("c"),
    archieves = data[curTag];
$(archieves).each(function(index,item){
    var html = '<li><span>' + item.date + '</span><a href="' + baseurl + item.url + '" >' + item.title + '</a></li>';
    $('.list').append(html);
});
</script>
