<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" content="text/html">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/base.css" />
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="{{ site.baseurl}}/js/jquery.query-object.js"></script>
    </head>
    <body>
        <span id="category_name">{{ page.category }}</span>
        <span id="tag_name"></span>
        <header class="site-header">
            <div class="wrapper">
                <a href="{{ site.baseurl }}/" class="site-title">LaurieZC</a>
                <div class="site-nav">
                    <!--<a href="#">About</a>-->
                    <a href="https://github.com/lauriezc" target="_blank">Github</a>
                </div>
            </div>
        </header>
        <div class="page-content">
            <div class="category-nav">
                <ul class="category">
                    <li class="category-item"><a href="{{ site.baseurl }}/">HOME</a></li>

                    {% for category in site.categories %}

                    <li class="category-item"><a href="{{ site.baseurl }}/list.html?c={{ category | first }}">{{ category | first }}</a></li>

                    {% endfor %}
                </ul>
            </div>
            <div class="dinner markdown-body">
                <h2>{{ page.title }}</h2>
                {{ content }}
                <div class="date">posted: {{ page.date | date:"%B %d, %Y" }}</div>
            </div>

            <div id="disqus_thread"></div>
            <script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */
            /*
               var disqus_config = function () {
               this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
               this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
               };
             */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = '//lauriezc.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        <div class="footer"></div>
    </body>
    <script id="dsq-count-scr" src="//lauriezc.disqus.com/count.js" async></script>
</html>
<script>
$(document).ready(function(){
    var home = $('.index').length>0;
    if(home){
        $('.category-nav .category-item').eq(0).addClass('active');
    }
    var category = $.query.get('c');
    if(category && category.length>0) {
        $('#category_name').text(category);
    }
    if($('#category_name').text().length>0) {
        $('.category-nav .category-item a').each(function(index, item) {
            if($(this).text() == $('#category_name').text()) {
                if(!$(this).parent().hasClass('active')) {
                    $(this).parent().addClass('active');
                }
            }
            else {
                if($(this).parent().hasClass('active')) {
                    $(this).parent().removeClass('active');
                }
            }
        });
    }
});
</script>
