<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" content="text/html">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/css/base.css" />
        <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
        <script src="{{ site.baseurl}}/js/jquery.query-object.js"></script>
    </head>
    <body>
        <span id="category_name"></span>
        <span id="tag_name">{{ page.category }}</span>
        <header class="site-header">
            <div class="wrapper">
                <a href="{{ site.baseurl }}/" class="site-title">LaurieZC</a>
                <div class="site-nav">
                    <a href="#">About</a>
                    <a href="#">Github</a>
                </div>
            </div>
        </header>
        <div class="page-content">
            <div class="category-nav">
                <ul class="category">
                    <li class="category-item"><a href="{{ site.baseurl }}/">HOME</a></li>

                    {% for category in site.categories %}

                    <li class="category-item"><a href="{{ site.baseurl }}/list.html?c={{ category | first }}">{{ category | first }}</a></li>
                    
                    {% endfor %}
                </ul>
            </div>
            <div class="dinner">{{ content }}</div>
        </div>
        <div class="footer"></div>
    </body>
</html>
<script>
$(document).ready(function(){
    $('.category-nav .category-item a').each(function() {
        if($(this).text() == $('#category_name').text()) {
            if(!$(this).parent().hasClass('active')) {
                $(this).parent().addClass('active');
            }
        }
        else {
            if($(this).parent().hasClass('active')) {
                $(this).parent().removeClass('active');
            }
        }
    });
    var c = $.query.get('c');
    alert(c);
    if(c) {
        $('#category_name').text(c);
    }
});
</script>
