<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8" content="text/html">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="../css/base.css" />
    </head>
    <body>
        <header class="site-header">
            <div class="wrapper">
                <a href="#" class="site-title">LaurieZC</a>
                <div class="site-nav">
                    <a href="#">About</a>
                    <a href="#">Github</a>
                </div>
            </div>
        </header>
        <div class="page-content">
            <div class="category-nav">
                <ul class="category">
                    <li class="category-item active"><a href="#">分类1</a></li>
                    <li class="category-item"><a href="#">分类zz2</a></li>
                    <li class="category-item"><a href="#">分类212313</a></li>
                    <li class="category-item"><a href="#">分类2ooooo</a></li>
                    <li class="category-item"><a href="#">分类2</a></li>
                    <li class="category-item"><a href="#">分类</a></li>
                    <li class="category-item"><a href="#">分类2</a></li>
                </ul>
            </div>
            <div class="dinner">{{ content }}</div>
        </div>
        <div class="footer"></div>
    </body>
</html>
